//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        minus {
            bindings = <&kp MINUS>;
            key-positions = <16 17>;
        };

        underbar {
            bindings = <&kp LS(INTERNATIONAL_1)>;
            key-positions = <27 28>;
        };

        halfspace {
            bindings = <&kp LS(SPACE)>;
            key-positions = <33 36>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        leftctrl {
            bindings = <&kp LCTRL>;
            key-positions = <10 11>;
        };

        rightctrl {
            bindings = <&kp LCTRL>;
            key-positions = <18 19>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
         &kp Q  &kp W    &kp E         &kp R        &kp T                   &kp Y                 &kp U        &kp I        &kp O    &kp P
         &kp A  &lt 2 S  &lt 3 D       &kp F        &kp G                   &kp H                 &kp J        &kp K        &kp L    &kp ENTER
&kp ESC  &kp Z  &kp X    &kp C         &kp V        &kp B                   &kp N                 &kp M        &kp COMMA    &kp DOT  &kp FSLH   &kp BACKSPACE
                         &kp LEFT_ALT  &lt 1 SPACE  &mt LSHFT LANGUAGE_2    &mt LCTRL LANGUAGE_1  &lt 1 SPACE  &lt 3 MINUS
            >;
        };

        nav_num {
            bindings = <
           &kp LS(SQT)    &kp N7  &kp N8        &kp N9  &kp N0        &kp LS(K_APP)  &kp HOME        &kp UP_ARROW    &kp END          &kp TAB
           &kp LS(MINUS)  &kp N4  &kp N5        &kp N6  &kp DELETE    &kp BACKSPACE  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&kp LC(Z)  &kp LS(SEMI)   &kp N1  &kp N2        &kp N3  &kp DOT       &kp LBKT       &kp F7          &kp F2          &kp F10          &trans   &kp LS(BACKSPACE)
                                  &kp LEFT_GUI  &trans  &trans        &trans         &kp LEFT_GUI    &kp LG(Z)
            >;
        };

        sym_func {
            bindings = <
           &none   &none  &none       &kp C_VOLUME_DOWN  &kp C_VOLUME_UP    &kp SQT        &kp AMPS    &kp LS(N2)   &kp LS(INTERNATIONAL_1)  &kp TAB
           &trans  &none  &kp LS(N8)  &kp LS(N9)         &kp DELETE         &kp BACKSPACE  &kp LS(N4)  &kp PERCENT  &kp LS(N6)               &trans
&kp K_APP  &trans  &none  &kp RBKT    &kp BSLH           &kp C_PP           &kp SEMI       &kp EXCL    &kp HASH     &kp INTERNATIONAL_3      &trans   &kp LS(BACKSPACE)
                          &kp LALT    &kp LEFT_GUI       &trans             &trans         &none       &none
            >;
        };

        device {
            bindings = <
           &none   &kp LC(SPACE)  &none      &kp LS(LC(SEMI))   &none                  &kp F11              &kp F7     &kp F8     &kp F9  &kp F10
           &trans  &kp LS(SPACE)  &none      &kp LC(MINUS)      &kp DELETE             &kp BACKSPACE        &kp F4     &kp F5     &kp F6  &trans
&kp PSCRN  &trans  &kp LC(PG_UP)  &none      &kp LC(PAGE_DOWN)  &none                  &kp F12              &kp F1     &kp F2     &kp F3  &trans   &kp LS(BACKSPACE)
                                  &kp LC(X)  &kp LC(C)          &mt LC(LA(V)) LC(V)    &mt LC(LA(V)) LC(V)  &kp LC(C)  &kp LC(X)
            >;
        };

        extra1 { status = "reserved"; };

        extra2 { status = "reserved"; };

        extra3 { status = "reserved"; };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
