//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        minus {
            bindings = <&kp MINUS>;
            key-positions = <16 17>;
        };

        underbar {
            bindings = <&kp LS(INTERNATIONAL_1)>;
            key-positions = <27 28>;
        };

        halfspace {
            bindings = <&kp LS(SPACE)>;
            key-positions = <34 35>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <12 13>;
        };

        leftctrl {
            bindings = <&kp LCTRL>;
            key-positions = <11 10>;
        };

        rightctrl {
            bindings = <&kp RCTRL>;
            key-positions = <18 19>;
        };

        leftkakko {
            bindings = <&kp LS(N8)>;
            key-positions = <11 13>;
        };

        rightkakko {
            bindings = <&kp LS(N9)>;
            key-positions = <16 18>;
        };

        lang1 {
            bindings = <&kp LANGUAGE_1>;
            key-positions = <35 16>;
        };

        lang2 {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <35 27>;
        };

        henkan {
            bindings = <&kp INTERNATIONAL_4>;
            key-positions = <33 36>;
        };

        leftkakkojp {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <11 12 13>;
        };

        rightkakkojp {
            bindings = <&kp BSLH>;
            key-positions = <16 17 18>;
        };

        plus {
            bindings = <&kp LS(SEMI)>;
            key-positions = <6 7>;
        };

        asta {
            bindings = <&kp LS(SQT)>;
            key-positions = <2 3>;
        };

        eq {
            bindings = <&kp LS(MINUS)>;
            key-positions = <1 2 3>;
        };

        q {
            bindings = <&kp LS(FSLH)>;
            key-positions = <17 18>;
        };

        shifttab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 11>;
        };

        lang22 {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <35 17>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
                  &kp Q  &kp W    &kp E         &kp R          &kp T          &kp Y        &kp U            &kp I         &kp O    &kp P
                  &kp A  &kp S    &kp D         &kp F          &kp G          &kp H        &kp J            &kp K         &kp L    &kp ENTER
&mt LSHFT ESCAPE  &kp Z  &lt 2 X  &kp C         &lt 3 V        &kp B          &kp N        &kp M            &kp COMMA     &kp DOT  &kp FSLH   &mt RSHIFT LS(BACKSPACE)
                                  &kp LEFT_ALT  &mt LSHFT TAB  &lt 1 SPACE    &lt 2 SPACE  &mt LCTRL ENTER  &kp LEFT_GUI
            >;
        };

        nav_num {
            bindings = <
        &kp LC(Z)  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_NUMBER_0    &kp PAGE_UP      &kp HOME         &kp UP_ARROW     &kp END          &kp PAGE_DOWN
        &kp TAB    &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp DOT            &kp BACKSPACE    &kp LEFT_ARROW   &kp DOWN_ARROW   &kp RIGHT_ARROW  &trans
&trans  &trans     &kp KP_N1        &kp KP_N2        &kp KP_NUMBER_3  &kp K_APP          &mt LC(X) LC(C)  &kp F7           &kp F2           &kp F10          &trans         &trans
                                    &kp LEFT_GUI     &trans           &trans             &kp DELETE       &mt LC(X) LC(C)  &mt LA(LC(V)) V
            >;
        };

        sym_func {
            bindings = <
        &kp LC(Z)  &kp N7  &kp N8        &kp N9        &kp N0       &kp SPACE         &kp SPACE       &kp AMPS    &kp LS(N2)           &kp HASH
        &none      &kp N4  &kp N5        &kp N6        &kp DOT      &kp BACKSPACE     &kp LS(FSLH)    &kp LS(N6)  &kp LS(N4)           &trans
&trans  &trans     &kp N1  &kp N2        &kp N3        &kp K_APP    &kp LEFT_BRACKET  &kp EXCL        &kp PRCNT   &kp INTERNATIONAL_3  &trans    &trans
                           &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PP     &kp LANGUAGE_2    &kp LANGUAGE_1  &trans
            >;
        };

        device {
            bindings = <
        &kp LC(Z)  &none          &none              &none              &none            &kp F11        &kp F7            &kp F8         &kp F9  &kp F10
        &trans     &kp LC(PG_UP)  &kp LC(PAGE_DOWN)  &kp LC(PAGE_DOWN)  &none            &kp BACKSPACE  &kp F4            &kp F5         &kp F6  &trans
&trans  &trans     &kp LS(F11)    &kp LC(N1)         &kp LC(N1)         &kp K_APP        &kp F12        &kp F1            &kp F2         &kp F3  &trans   &kp LS(BACKSPACE)
                                  &kp LC(MINUS)      &kp LC(LS(SEMI))   &kp LS(SPACE)    &kp LC(SPACE)  &kp LC(LS(SEMI))  &kp LC(MINUS)
            >;
        };

        extra1 { status = "reserved"; };

        extra2 { status = "reserved"; };

        extra3 { status = "reserved"; };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
