//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        minus {
            bindings = <&kp MINUS>;
            key-positions = <16 17>;
        };

        underbar {
            bindings = <&kp LS(INTERNATIONAL_1)>;
            key-positions = <27 28>;
        };

        halfspace {
            bindings = <&kp LS(SPACE)>;
            key-positions = <33 36>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
         &kp Q        &kp W    &kp E         &kp R            &kp T                   &kp Y                  &kp U        &kp I      &kp O        &kp P
         &mt LCTRL A  &lt 2 S  &lt 3 D       &kp F            &kp G                   &kp H                  &kp J        &kp K      &mt RCTRL L  &kp ENTER
&kp ESC  &mt LSHFT Z  &kp X    &mt LC(C) C   &mt LC(LA(V)) V  &kp B                   &kp N                  &kp M        &kp COMMA  &kp DOT      &mt LSHFT FSLH  &kp BACKSPACE
                               &kp LEFT_ALT  &lt 1 SPACE      &mt LSHFT LANGUAGE_2    &mt RSHIFT LANGUAGE_1  &lt 3 SPACE  &kp MINUS
            >;
        };

        nav_num {
            bindings = <
           &kp LS(N8)     &kp N7  &kp N8  &kp N9  &kp LS(N9)    &kp ESC      &kp HOME        &kp UP_ARROW    &kp END          &kp TAB
           &kp LS(MINUS)  &kp N4  &kp N5  &kp N6  &kp N0        &kp BSPC     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&kp LC(Z)  &kp LSHFT      &kp N1  &kp N2  &kp N3  &kp DOT       &kp LBKT     &kp F7          &kp F2          &kp F10          &kp K_APP  &kp DELETE
                                  &none   &none   &none         &kp LS(SQT)  &kp LS(SEMI)    &kp MINUS
            >;
        };

        sym_func {
            bindings = <
       &none  &none  &none       &none         &kp C_VOLUME_UP      &kp SEMI       &kp AMPS    &kp LS(N2)   &kp LS(INTERNATIONAL_1)  &kp TAB
       &none  &none  &kp LS(N8)  &kp LS(N9)    &kp C_PLAY_PAUSE     &kp BACKSPACE  &kp LS(N4)  &kp PERCENT  &kp LS(N6)               &trans
&none  &none  &none  &kp RBKT    &kp BSLH      &kp C_VOLUME_DOWN    &kp SQT        &kp EXCL    &kp HASH     &kp INTERNATIONAL_3      &none    &kp PRINTSCREEN
                     &kp LALT    &kp LEFT_GUI  &none                &none          &none       &none
            >;
        };

        device {
            bindings = <
               &none          &kp UP_ARROW       &none      &kp DOWN_ARROW   &none        &none          &kp F7            &kp F8         &kp F9  &kp F11
               &kp LC(SPACE)  &kp LEFT_ARROW     &none      &kp RIGHT_ARROW  &none        &kp BACKSPACE  &kp F4            &kp F5         &kp F6  &kp F10
&kp LC(LA(V))  &kp LS(SPACE)  &kp LC(PAGE_DOWN)  &none      &kp LC(PAGE_UP)  &none        &none          &kp F1            &kp F2         &kp F3  &kp F12  &none
                                                 &kp LC(X)  &kp LC(C)        &kp LC(V)    &kp LSHFT      &kp LC(LS(SEMI))  &kp LC(MINUS)
            >;
        };

        extra1 { status = "reserved"; };

        extra2 { status = "reserved"; };

        extra3 { status = "reserved"; };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
